@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'),
        url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 1em;
    border: 3.6em solid #000;
    overflow: hidden;
    box-sizing: border-box;
}

h1.date {
    position: absolute;
    top: 1em;
    right: 1.2em;
    margin: 0;
    font-size: 5em;
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

.note {
    position: absolute !important;
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    max-height: 60vh;
    max-width: 25vw;
    z-index: 1;
}

.note-header {
    padding: 1em;
    background-color: #000;
    cursor: move;
}

.note p {
    margin: 1em;
    text-align: left;
}

.note p[contenteditable=true]:empty::before {
    content: attr(placeholder);
}

.image {
    position: absolute !important;
    display: inline-block;
}

.image-header {
    padding: 1em;
    background-color: #000;
    cursor: move;
}

.image img {
    max-height: 60vh;
    user-select: none;
}

.icon {
    height: 2.6em;
    width: 2.6em;
    cursor: pointer;
}

.add-notes {
    position: absolute;
    left: 4em;
    bottom: 4em;
    user-select: none;
    z-index: 1;
}

.change-background {
    position: absolute;
    right: 4em;
    bottom: 4em;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

input[type="file"] {
    display: none;
}

input[type="color"] {
    visibility: hidden;
    border: none;
    padding: 0;
    width: 0;
    height: 3.2em;
}